

<div *ngIf="movie">
  <form  #jobCardForm="ngForm"  (ngSubmit)="onSubmit(movie)" name="editMovie" >
    <h5 *ngIf="success">Your form is valid!</h5>

    <div class="form-group">
      <label class="col-form-label ">Name</label>
      <div class="col-md-6">
        <input name="Name"#Name="ngModel"  type="text" class="form-control form-control-sm" 
               placeholder="{{movie.movie_Name}}" [(ngModel)]="movie.movie_Name" required>
               <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label ">Category</label>
      <div class="col-md-6">
        <input name="Category" #Category="ngModel" type="text" class="form-control form-control-sm" 
               placeholder="{{movie.movie_Category}}" [(ngModel)]="movie.movie_Category" required>
                 <div class="validation-error" *ngIf="Category.invalid && Category.touched">This field is required</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label ">Rating</label>
      <div class="col-md-6">
        <input name="Rating" #Rating ="ngModel" type="number" class="form-control form-control-sm" 
               placeholder="{{movie.movie_Rating}}" [(ngModel)]="movie.movie_Rating" required>
               <div class="validation-error" *ngIf="Rating.invalid && Rating.touched">This field is required</div>
      </div>
    </div>

    <div class="form-group">
      <table>
        <tr>
          <th>
            <button class="btn btn-primary"><a routerLink="/">Cancel</a></button>
          </th>
          <th>
            <button type ="submit" class="btn btn-primary" value="Save Movie" >Save</button>
          </th>
        </tr>
      </table>
    </div>


  </form>
</div>
